<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>CriarFornecedorServlet</servlet-name>
        <servlet-class>br.edu.ufabc.VeganWash.controller.CriarFornecedorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CriarFornecedorServlet</servlet-name>
        <url-pattern>/newfornecedor</url-pattern>
    </servlet-mapping>
    
    
    
    <servlet>
        <servlet-name>CriarProdutoServlet</servlet-name>
        <servlet-class>br.edu.ufabc.VeganWash.controller.CriarProdutoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CriarProdutoServlet</servlet-name>
        <url-pattern>/newproduto</url-pattern>
    </servlet-mapping>
    
    
    
    <servlet>
        <servlet-name>CriarUsuarioServlet</servlet-name>
        <servlet-class>br.edu.ufabc.VeganWash.controller.CriarUsuarioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CriarUsuarioServlet</servlet-name>
        <url-pattern>/newuser</url-pattern>
    </servlet-mapping>
    
    
    
    <servlet>
        <servlet-name>LoginFornecedorServlet</servlet-name>
        <servlet-class>br.edu.ufabc.VeganWash.controller.LoginFornecedorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginFornecedorServlet</servlet-name>
        <url-pattern>/loginfornecedor</url-pattern>
    </servlet-mapping>
    
    
    
    <servlet>
        <servlet-name>LoginUsuarioServlet</servlet-name>
        <servlet-class>br.edu.ufabc.VeganWash.controller.LoginUsuarioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginUsuarioServlet</servlet-name>
        <url-pattern>/loginusuario</url-pattern>
    </servlet-mapping>
    
    
    
    <servlet>
        <servlet-name>SenhaUsuarioServlet</servlet-name>
        <servlet-class>br.edu.ufabc.VeganWash.controller.SenhaUsuarioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SenhaUsuarioServlet</servlet-name>
        <url-pattern>/senhausuario</url-pattern>
    </servlet-mapping>
    
      
        
    <servlet>
        <servlet-name>SenhaFornecedorServlet</servlet-name>
        <servlet-class>br.edu.ufabc.VeganWash.controller.SenhaFornecedorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SenhaFornecedorServlet</servlet-name>
        <url-pattern>/senhafornecedor</url-pattern>
    </servlet-mapping>  
    
     
       <servlet>
        <servlet-name>BuscarProdutoServlet</servlet-name>
        <servlet-class>br.edu.ufabc.VeganWash.controller.BuscarProdutoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BuscarProdutoServlet</servlet-name>
        <url-pattern>/pesquisaprodutos</url-pattern>
    </servlet-mapping>  
    
    
    <servlet>
        <servlet-name>AntesBuscaServlet</servlet-name>
        <servlet-class>br.edu.ufabc.VeganWash.controller.AntesBuscaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AntesBuscaServlet</servlet-name>
        <url-pattern>/resultadobusca</url-pattern>
    </servlet-mapping> 
    
    <session-config>
        <session-timeout>
           5
        </session-timeout>
    </session-config>
    
</web-app>
